<script>
    import {
    Card,
    CardBody,
    CardFooter,
    CardHeader,
    CardTitle,
    Input
  } from 'sveltestrap';

  import {CAMERA_STATES} from '../Models/constants';

  import {
    cameraState
  } from '../Stores/store';

  function sendCameraRequest(commandName){
    return fetch('api/'+commandName, {
        method: 'GET',
    })
    .then(response => {
        if(response.status < 400){
            setTimeout(() => {startStream = true;}, 2000);
            let data = response.json();
            console.log('Success:', data);
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
  }

  let cameraChecked = false;
  let startStream = false;

  $: {
        $cameraState = cameraChecked ? CAMERA_STATES.ON : CAMERA_STATES.OFF;
        startStream = false;
        if(cameraChecked){
            sendCameraRequest('start-camera');
        } else {
            sendCameraRequest('stop-camera');
        }
  }
</script>
  
<Card class="mb-3">
    <CardHeader>
        <CardTitle>Car Camera <Input class="camera-switch" style="float: right;" id="cameraswitch" type="switch" label="" bind:checked={cameraChecked}/></CardTitle>        
    </CardHeader>
    <CardBody>
        {#if startStream && cameraChecked}
            <img width="710" height="400" src="api/camera" alt="camera stream"/>
        {/if}
    </CardBody>
    <CardFooter>
        
    </CardFooter>
</Card>