<script>
    import {
    Card,
    CardBody,
    CardFooter,
    CardHeader,
    CardTitle
  } from 'sveltestrap';
</script>
  
<Card class="mb-3">
    <CardHeader>
        <CardTitle>Car Movement</CardTitle>
    </CardHeader>
    <CardBody>
        
    </CardBody>
    <CardFooter></CardFooter>
</Card>