<script>
    import { Icon, Dropdown, DropdownItem, DropdownMenu, DropdownToggle } from 'sveltestrap';
</script>

<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">BMW Z4</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link active">
                <Icon name="house-door"/>
            Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <Icon name="speedometer2"/>
            Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <Icon name="gear"/>
            Settings
            </a>
        </li>
        </ul>
        <hr>
        

        <Dropdown>
            <DropdownToggle nav class="text-white text-decoration-none" caret>
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Bishoy</strong>
            </DropdownToggle>
            <DropdownMenu dark>
              <DropdownItem>Settings</DropdownItem>
              <DropdownItem>Profile</DropdownItem>
              <DropdownItem divider />
              <DropdownItem>Sign out</DropdownItem>
            </DropdownMenu>
          </Dropdown>
    </div>
</main>

<style>
    main {
        display: flex;
        flex-wrap: nowrap;
        height: 100vh;
        height: -webkit-fill-available;
        max-height: 100vh;
    }
</style>