<script>
	import Camera from "./Components/Camera.svelte";
	import Lights from "./Components/Lights.svelte";
	import Movement from "./Components/Movement.svelte";
	import Sidebar from "./Components/Sidebar.svelte";
	import { DIRECTIONAL_MOTOR_STATE, MOVEMENT_MOTOR_STATE } from "./Models/constants";


	function sendMovementRequest(state, speed, pwm_freq){
		return fetch(`api/movement?state=${state}&speed=${speed}&pwm_freq=${pwm_freq}`, {
			method: 'PUT',
		})
		.then(response => {
			if(response.status < 400){
				let data = response.json();
				console.log('Success:', data);
			}
		})
		.catch((error) => {
			console.error('Error:', error);
		});
  	}

	function sendDirectionRequest(state, angle_steepness){
		return fetch(`api/direction?state=${state}&angle_steepness=${angle_steepness}`, {
			method: 'PUT',
		})
		.then(response => {
			if(response.status < 400){
				let data = response.json();
				console.log('Success:', data);
			}
		})
		.catch((error) => {
			console.error('Error:', error);
		});
  	}

	let angle_steepness = 25;
	let lastMovementState = MOVEMENT_MOTOR_STATE.OFF;

	function changeDirection(angle_steepness){
		if(angle_steepness > 25)
			sendDirectionRequest(DIRECTIONAL_MOTOR_STATE.LEFT, angle_steepness-25);
		else if(angle_steepness < 25)
			sendDirectionRequest(DIRECTIONAL_MOTOR_STATE.RIGHT, -angle_steepness+25);
		else 
			sendDirectionRequest(DIRECTIONAL_MOTOR_STATE.OFF, 0);
	}

	document.onkeydown = (event) => {

		event = event || window.event;

		switch (event.key) {
			case "ArrowLeft":
				setTimeout(() => {
					if(angle_steepness < 50){
						angle_steepness += 5;
						angle_steepness = Math.min(angle_steepness, 50);
						changeDirection(angle_steepness);
					}
				}, 250);
				break;
			case "ArrowRight":
				setTimeout(() => 
				{
					if(angle_steepness > 0){
						angle_steepness -= 5;
						angle_steepness = Math.max(angle_steepness, 0);
						changeDirection(angle_steepness);
					}
				}, 250);
				break;
			case "ArrowUp":
				if(lastMovementState != MOVEMENT_MOTOR_STATE.FORWARD)
					sendMovementRequest(MOVEMENT_MOTOR_STATE.FORWARD, 20, 1000);
				lastMovementState = MOVEMENT_MOTOR_STATE.FORWARD
				break;
			case "ArrowDown":
				if(lastMovementState != MOVEMENT_MOTOR_STATE.BACKWARD)
					sendMovementRequest(MOVEMENT_MOTOR_STATE.BACKWARD, 20, 1000);
				lastMovementState = MOVEMENT_MOTOR_STATE.BACKWARD
				break;
		}

	};

	document.onkeyup = (event) => {

		event = event || window.event;

		if(event.key === "ArrowUp" || event.key === "ArrowDown"){
			sendMovementRequest(MOVEMENT_MOTOR_STATE.OFF, 0, 0);
			lastMovementState = MOVEMENT_MOTOR_STATE.OFF
		}

	}

</script>



<main>
	<Sidebar/>
	<div class="container">
		<div class="row">
			<div class="col-8">
				<Camera/>
			</div>
			<div class="col-4">
				<Lights/>
				<Movement/>
			</div>
		</div>
	</div>
</main>

<style>


	main {
		display: flex;
		flex-wrap: nowrap;
		height: 100vh;
		height: -webkit-fill-available;
		max-height: 100vh;
		overflow-x: auto;
		overflow-y: hidden;
    }

	.container {
		margin-top: 0.75rem;
	}
</style>